* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
}


@media all and (min-width: 500px) {
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
    main {
        width: 80%;
        /* flex-basis: 80%; */
    }
    
    aside {
        width: 20%;
        /* flex-basis: 20%; */
    }
}